---
---

@import "{{ site.theme }}";

body {
    font-family: 'Open Sans', sans-serif;
}

section {
    font-size: 19px;
}

section p {
    font-family: 'Open Sans', sans-serif;
    letter-spacing: .01rem;
    font-weight: 400;
    font-style: normal;
    font-size: 19px;
    line-height: 1.58;
    letter-spacing: -.003em;
    color: rgba(0,0,0,.84);
}

h1 {
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 34px;
    margin-left: -2.13px;
    line-height: 1.15;
    letter-spacing: -.015em;
    padding-bottom: 20px;
}
h2.header {
    font-family: 'Open Sans', sans-serif;
    color: #fff;
    font-size: 30px;
    font-weight: 300;
    line-height: 1.3em;
    border-bottom: none;
    margin-top: 0;
}
h3 {
    font-family: 'Open Sans', sans-serif;
    font-size:25px;
}

blockquote {
    border-left: 3px solid gray;
    background-color: rgb(242, 244, 247);
    padding: 20px;
    margin: 20px 0;
}

blockquote p {
    margin: 0 !important;
    font-style: italic;
    font-size:18px;
}

section ul {
    list-style-type: none;
    margin: 10px;
    padding-left: 25px;
}

section ul li {
    font-size:17px;
}
a.buttons {
    background: none;
}
.breadcrumb {
    font-size: 15px;
    padding-left: 20px;
}
